<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/communityreg.css">
</head>
<body>
	<form action="community-post-reg">
		<div class="container">
			<div class="main-content">
				<div class="form-group">
					<label class="form-label">제목</label> <input name="title" type="text"
						class="form-control" required>
				</div>
				<div class="form-group">
					<label class="form-label">내용</label>
					<textarea name="content" class="form-control" required></textarea>
				</div>
			</div>

			<div class="sidebar">
				<div class="radio-group">
					<label class="radio-label" th:each="c:${category}"> <input type="radio"
						name="category" th:value="${c.no}" checked> <span th:text="${c.name}"></span>
					</label> 
				</div>
			</div>
		</div>

		<div class="button-group">
			<button type="submit" class="btn btn-primary">글 등록</button>
			<button type="button" class="btn btn-secondary">뒤로 가기</button>
		</div>
	</form>
</body>
</html>