<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/follow.css">
</head>
<body>
	<div class="data-container">
		<table id="dataTbl">
			<tr id="category">
				<td>
					<div class="category-box">
						<div class="category-title">팔로우</div>
						<div class="file-container">
							<div class="file-item" th:each="follower:${follower}" th:text="${follower.following.nickname}"></div>
						</div>
					</div>
				</td>
				<td>
					<div class="category-box">
						<div class="category-title">팔로워</div>
						<div class="file-container">
							<div class="file-item" th:each="following:${following}" th:text="${following.follower.nickname}"></div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>