<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/resaleproduct.css">
</head>
<body>
	<div class="product-grid">
		<a th:each="rproduct : ${resaleList}"
			th:href="@{/resale-detailproduct(no=${rproduct.no})}">
			<div class="product-card">
				<div class="product-image">
					<img
						th:src="${rproduct.thumbnail != null ? '/HoMini/Img/' + rproduct.thumbnail : '/img/no-image.png'}"
						alt="이미지" />
				</div>
				<div class="product-info" th:text="${rproduct.title}">제품 이름</div>
				<div class="product-price" th:text="${rproduct.price + ' 원'}">가격</div>
			</div>
		</a>
		<a th:each="aproduct : ${auctionList}"
			th:href="@{/auction-detailproduct(no=${aproduct.no})}">
			<div class="product-card">
				<div class="product-image">
					<img
						th:src="${aproduct.thumbnail != null ? '/HoMini/Img/' + aproduct.thumbnail : '/img/no-image.png'}"
						alt="이미지" />
				</div>
				<div class="product-info" th:text="${aproduct.title}">제품 이름</div>
				<div class="product-price" th:text="${aproduct.price + ' 원'}">가격</div>
			</div>
		</a>
	</div>
</body>
</html>