.main-banner {
	width: 80%;
	height: 300px;
	background-color: #ddd;
	margin: 0 auto;
	margin-bottom: 50px;
}

#sliderImg {
	max-height: 300px;
	margin: 0 auto;
}

.center-text {
	text-align: center;
	margin: 16px 0;
	font-size: 14px;
}

.grid {
  background-color: #f2f2f2;
  border-radius: 100px;
  width: 80%;
  margin: 40px auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.category-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.circle-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 1rem;
}

.first-row {
    margin-left: 40px; /* 원하는 픽셀값 */
}

.second-row {
    margin-right: 80px; /* 원하는 픽셀값 */
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  text-align: center;
}

.circle:hover {
  background-color: #bbb;
}

.circle a {
  text-decoration: none;
  color: #333;
}

