<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>OnIt - 홈</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div class="home-container">
    <!-- 중고거래 카드 -->
    <div class="home-card resale-card">
      <a href="/resale-home">
        <!-- 중고거래 이미지 (resale.png) -->
        <img src="/img/resale.png" alt="중고거래" class="home-image">
        <div class="home-card-title">중고거래</div>
      </a>
    </div>

    <!-- 경매 카드 -->
    <div class="home-card auction-card">
      <a href="/auction-home">
        <!-- 경매 이미지 (auction.png) -->
        <img src="/img/auction.png" alt="경매" class="home-image">
        <div class="home-card-title">경매</div>
      </a>
    </div>
  </div>
</body>
</html>
